<!DOCTYPE html>
<html lang = "fr">
<head>
    <title>doc</title>
    <meta name = "viewport"
          content = "width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="le=edge">
</head>

<body>
cc
</body>

</html>